node_modules
.next

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git / editor
.git
.gitignore
.vscode

# OS / build artifacts
.DS_Store
*.tsbuildinfo

# docker / docs
Dockerfile
docker-compose.yml
README.md

# env
.env*.local
